<launch>
	<!-- temp -->
	<node pkg="planning" name="mock" type="planning_mock" output="screen" />

	<!-- sys -->
	<include file="$(find snake_state)/launch/state.launch" />
	<include file="$(find planning)/launch/spline_generator.launch" />
	<include file="$(find control_system)/launch/wlos_guidance.launch" />
	
	<!-- Vis -->
	<include file="$(find snake_viz)/launch/snake_vis.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find planning)/rviz/rviz_1.rviz" />
</launch>
