<launch>

	<rosparam command="load" file="$(find snake_viz)/params/snake.yaml" />
	<node pkg="snake_viz" type="snake_visualization_node" name="snake_visualization_node" output="screen" />

	<node pkg="snake_viz" type="path_visualization_node" name="path_visualization_node" output="screen" />
	<node pkg="snake_viz" type="guidance_visualization_node" name="guidance_visualization_node" output="screen" />
</launch>
